.pagination-btn {
    width: 60px;
font-size: 23px;
padding: 5px;
}
.pagination-btn:disabled {
    cursor: not-allowed;
    background-color: silver;
}
.pagination-btn:disabled:hover {
    background-color: silver;
}